<footer>
  <div class="container">
    <span class="pull-right">
      <a href="/about_us" class="footer-nav">About Us</a>
      <a href="/contact_us" class="footer-nav">Contact Us</a>
      <a href="/faq" class="footer-nav">FAQ</a>
    </span>
    <span class="footer-nav">Copyright reserved</span>
  </div>
</footer>